.DS_Store
/docsets
/emacs.d/*
!/emacs.d/init.el
!/emacs.d/config.org
!/emacs.d/custom
!/emacs.d/themes
/vimperator/info
vim/.vim
Code
google-chrome
gtk-3.0
Netron
obsidian
pulse
nushell/history.txt
.config/nushell/history.txt
.config/dconf/user
