[Unit]
Description=OfflineIMAP Service
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/offlineimap -u syslog
ExecStartPost=/usr/bin/mu index

[Install]
WantedBy=default.target